/* src/components/About.css */
.about-section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: flex-start;
}

.about-heading-wrapper {
  text-align: right;
}

.about-heading {
  font-size: 6rem;
  line-height: 1;
  text-align: center;
  margin-top: 380px;
}

.about-content {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border: 1px solid var(--primary-blue);
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.3);
}

.about-content p, .about-content ul {
  margin-bottom: 1.5rem;
}

.experience h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Media query untuk tampilan tablet & smartphone */
@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr; /* Mengubah tata letak menjadi satu kolom */
    text-align: left;
  }

  .about-heading-wrapper {
    text-align: left; /* Menyesuaikan posisi judul */
  }

  .about-heading {
    font-size: 4rem;
  }
}